
.notice_lists{
	margin-top: 45px;
	padding-top: 2rem;
}
.notice{
	position: absolute;
	left: 50%;
	margin-left: -1rem;
	font-size: 18px;
}
.notice_list{
	padding: 0.625rem;
	height: 5rem;
	background-color: white;
	border-bottom: 4px solid #E7EAEC;
}
.notice_listImg{
	display: inline-block;
	width: 2rem;
	height: 2rem;
/*	background-image: url("../../Public/image/star.png");*/
	
	border-radius: 50%;
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
}
.nav{
	position: fixed;
	height: 2rem;
	line-height: 2rem;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: #fff;
    
}
.active{
	color: #7FCADF;
	border-bottom: 4px solid #7FCADF;
}
.nav > div{
	flex: 1;
}
